<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="row">
      <div class="col-md-5">
        <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
          <div formGroupName="calendarSolar" class="form-area">
            <h3>Lịch dương</h3>
            <div class="col-md-12"><label>Chọn ngày dương lịch</label></div><br>
            <div class="col-md-9">
                <div class="input-space">
                    <input formControlName="dateSolar" type="text" class="form-control" placeholder="MM/dd/yyyy" bsDatepicker>
                </div>
              </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-info"style ="color: white">Chuyển đổi</button>
            </div>
        </form>
      </div>
      <!-- end convert -->
      <!-- end calendar -->
    </div>
    <div class="row">
      <div class="col-md-5 ketqua">
        <div class="form-area ">
          <h3>Kết quả chuyển đổi</h3>
          <i class="fas fa-sun"> </i><span> Ngày </span><span style="font-weight: bold;">Dương lịch </span>
          <span class="ngaythangnamduong"*ngIf="!isNumber(calendarSolar.day)">{{calendarSolar.day}}/{{calendarSolar.month}}/{{calendarSolar.year}}</span>
          <br><br>
          <i class="fas fa-sun"> </i><span> Ngày </span><span style="font-weight: bold;">Âm lịch </span>
           <span class="ngaythangnamam" *ngIf="!isNumber(calendarSolar.day)">{{calendarLunar.day}}/{{calendarLunar.month}}/{{calendarLunar.year}}</span>
      </div>
      </div>
    </div>
    <!-- end convert -->
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <div class="calendarshow">
          <div class="calendar-header">
            <div class="calendar-title">
              <h3 style="color: white!important; font-style: normal;">ÂM LỊCH VÀ DƯƠNG LỊCH</h3>
            </div>
          </div>
          <table class="calendar-day">
            <thead>
              <tr>
                <th class="lich duonglich">DƯƠNG LỊCH</th>
                <th class="lich amlich">ÂM LỊCH </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td *ngIf="!isNumber(calendarSolar.day)">Tháng {{calendarSolar.month}} Năm {{calendarSolar.year}}</td>
                <td *ngIf="!isNumber(calendarSolar.day)">Tháng {{calendarLunar.month}} Năm {{calendarLunar.year}}</td>
            </tr>
            <tr>
              <td>
                <div class="duong" *ngIf="!isNumber(calendarSolar.day)">{{calendarSolar.day}}</div>
                <div class="chitiet"></div>
              </td>
              <td>
                <div class="am" *ngIf="!isNumber(calendarSolar.day)">{{calendarLunar.day}}</div>
                <div class="chitiet" *ngIf="!isNumber(calendarSolar.day)">
                  <p style="margin-top: 20px;">Ngày: <b *ngIf="!isNumber(calendarSolar.day)">{{calendarLunar.dayCan}} {{calendarLunar.dayChi}} </b></p>
                   <p> Tháng: <b *ngIf="!isNumber(calendarSolar.day)">{{calendarLunar.monthCan}} {{calendarLunar.monthChi}}</b >
                            <b *ngIf="calendarLunar.leapmonth == 1"> Nhuận</b>
                  </p>
                  <p>Năm: <b *ngIf="!isNumber(calendarSolar.day)">{{calendarLunar.yearCan}} {{calendarLunar.yearChi}}</b>
                          <b *ngIf="checkNamNhuan(calendarLunar.year) == true"> Nhuận</b>
                  </p>
                  <p><b *ngIf="calendarLunar.leapmonth == 0">Không phải tháng nhuận</b>
                                  <b *ngIf="calendarLunar.leapmonth == 1"> Là tháng nhuận</b>
                  </p>
                </div>
              </td>
            </tr>
            <tr>
              <td class="tot"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- end calendar -->
  </div>
</div>
