<div class="main-content body">
  <div class="section-content section-content-p30">
      <div class="container">
        <h2 style="color: rgb(67, 114, 185); text-align: center;">HỆ THỐNG TÍNH TIỀN THUẾ THU NHẬP CÁ NHÂN</h2>
        <div class="row content">
         <div class="col-md-5">
          <div class="form-group">
            <form [formGroup]="taxFormGroup" (ngSubmit)="onSubmit()">
              <div formGroupName="taxForm">
                <div class="row g-3 align-items-center">
                  <div class="col-md-5">
                    <label for="inputSalary" class="col-form-label"><i class="fas fa-hand-holding-usd" style="font-size: 30px; color: rgb(255, 51, 0);"></i>  Tổng thu nhập</label>
                  </div>
                  <div class="col-md-7">
                    <input type="text" id="inputSalary" class="form-control" formControlName="salary">
                    <span style="position: absolute; margin-top: -32px; margin-left: 23%;">VNĐ</span>
                  </div>
                  <div class="col-md-5"></div>
                  <div class="col-md-7">
                    <span *ngIf="salary?.invalid && (salary?.dirty || salary?.touched)" class="form-text" style="color: red;">
                      <div *ngIf="salary?.errors?.required">
                        Không được để trống
                      </div>
                      <div *ngIf="salary?.errors?.pattern ">
                        Nhập đúng định dạng số
                      </div>
                    </span>
                  </div>
                </div>
                <br>
                <div class="row g-3 align-items-center">
                  <div class="col-md-5">
                    <label for="inputPeople" class="col-form-label"><i class="fas fa-users" style="font-size: 30px; color: rgb(255, 51, 0);"></i>  Số người phụ thuộc</label>
                  </div>
                  <div class="col-md-7">
                    <input type="text" id="inputPeople" class="form-control" formControlName="people">
                    <span style="position: absolute; margin-top: -32px; margin-left: 23%;" >Người</span>
                  </div>
                  <div class="col-md-5"></div>
                  <div class="col-md-7">
                    <span *ngIf="people?.invalid && (people?.dirty || people?.touched)" class="form-text" style="color: red;">
                      <div *ngIf="people?.errors?.required ">
                        Không được để trống
                      </div>
                      <div *ngIf="people?.errors?.pattern ">
                        Nhập đúng số người
                      </div>
                    </span>
                  </div>
                </div>
              </div>
            <button type="submit" class="btn btn-primary tinhtoan"><i class="fas fa-search-dollar"></i> Tính toán</button>
            <br><br>
            <div class="row g-3 align-items-center">
              <div class="col-md-12">
                <i class="fas fa-dollar-sign" style="font-size: 30px; color: rgb(255, 51, 0);"></i>
                <span>  Thuế TNCN phải nộp:<b style="color: red;"> {{numberWithSpaces(totalTax)}} </b>VNĐ</span>
              </div>
            </div>
            </form>
          </div>
         </div>
         <!-- end input -->
         <div class="col-md-1"></div>
         <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <h3 class="text-center">Bảng thu nhập tính thuế và thuế suất</h3>
            </div>
            <div class="col-md-12">
              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col" class="text-center">BẬC</th>
                    <th scope="col" class="text-center">Thu nhập tính thuế/tháng (triệu đồng) 	</th>
                    <th scope="col" class="text-center">Thuế suất</th>
                  </tr>
                </thead>
                <tbody >
                  <tr *ngFor="let tempTaxTable of taxTable">
                    <td class="text-center">Bậc {{tempTaxTable.id}}  </td>
                    <td class="text-center">{{tempTaxTable.salaryMonth}}  </td>
                    <td class="text-center">{{tempTaxTable.tax}}  </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
         </div>
         <!-- end table tax -->
        </div>
        <!-- end row 1-->
        <hr>
        <div class="row tinhthue">
          <div class="col-md-12 ">
            <h4 class="text-center">Diễn giải cách tính thuế TNCN</h4>
            <p>Giảm trừ bản thân = {{giamtrubanthan}} VNĐ</p>
            <p>Giảm trừ người phụ thuộc = {{peopleInt}} x {{numberWithSpaces(giamtrunguoiphuthuoc)}} = {{numberWithSpaces(tiennguoiphuthuoc)}} VNĐ</p>
            <p *ngIf="thunhapchiuthue > 0">Thu nhập chịu thuế = {{numberWithSpaces(salaryInt)}} - {{numberWithSpaces(giamtrubanthan)}} - {{numberWithSpaces(tiennguoiphuthuoc)}} = {{numberWithSpaces(thunhapchiuthue)}} VNĐ</p>
            <div *ngFor="let tempTaxComputeDegree of taxComputeDegree">
              <div *ngFor="let tempTaxShow of taxShow">
                <p *ngIf="tempTaxComputeDegree.id == tempTaxShow.id">
                  {{tempTaxComputeDegree.name}}: {{tempTaxComputeDegree.content}}:
                  <i><b>{{numberWithSpaces(tempTaxShow.salary)}} * {{numberWithSpaces(tempTaxShow.tax)}}% = {{numberWithSpaces(tempTaxShow.money)}} VNĐ</b></i>
                </p>
              </div>
              <p *ngIf="tempTaxComputeDegree.id ==8">{{tempTaxComputeDegree.content}}:
                <b style="color: red;">{{numberWithSpaces(totalTax)}}</b> VNĐ
              </p>
            </div>
          </div>
          <!-- end compute -->
        </div>

      </div>
      <!-- end container -->
  </div>
</div>
