<div class="page-wrapper">

  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a href="#">
        <img src="assets/logo.png" alt="vandai" class="img-responsive">
      </a>
    </div>
    <app-program></app-program>
  </aside>
  <!-- END MENU SIDEBAR-->

  <div class="page-container">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop headerfont">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">
            <marquee> <p style="font-size: 20px;">Vũ Văn Đại - 20172445: Đồ án 3 - Lập trình Full-stack Angular & Spring
                      </p>
            </marquee>
            <marquee style="margin-left: 50px; margin-right: 50px;">
              <img src="assets/set.jpg" alt="vandai" class="img-responsive rounded-circle">  Viện Điện tử - Viễn thông
          </marquee>
          <marquee>
            <img src="assets/bachkhoa.png" alt="vandai" class="img-responsive rounded-circle">  Trường Đại học Bách Khoa Hà Nội
        </marquee>
          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>
    <!-- END HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
    <router-outlet></router-outlet>
  </div>
</div>

<!-- ENDS PAGE CONTAINER -->

<footer style="position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-decoration: none;
    height: 7%;">
  <ul>
    <li><a href="#" style="text-decoration: none;">Thông tin</a></li>
    <li><a href="#" style="text-decoration: none;">Liên hệ</a></li>
  </ul>
</footer>
